.app {
  text-align: center;
  background-image: url('Cold-bg.jpg');
  background-size: cover;
  transition: 0.4 ease-out;
  /* background-position: bottom; */
}
 .app warm{
  background-image: url('Warm-bg.jpg');
 }

.main{
  background-image: linear-gradient(to bottom, rgba(173, 167, 167, 0.486), rgba(122, 117, 117, 0.514));
}
